# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\github\chanyshev_Bell_AT\chanyshev_reqresAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
